<section class="todoapp">

	<header class="header">
		<h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus
      (keyup.enter)="addTodo($event.target)"
    >
  </header>

  <section class="main" *ngIf="getList().length">

    <ul class="todo-list">
      <li
        *ngFor="let todo of getList(); let i = index"
        [class.completed]="todo.done"
      >
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            (click)="todo.toggleCompletion()"
            [checked]="todo.done"
          >
          <label>{{ todo.getTitle() }}</label>
          <button
            class="destroy"
            (click)="remove(i)"
          ></button>
        </div>
      </li>
    </ul>

  </section>

</section>
